<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Splitting Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/static.css') }}"">
</head>
<body>
    <form action="\split" method="POST" enctype="multipart/form-data">
        <div class="container">
          <h1>PDF Splitting Tool</h1>
          <p>Please fill the below details to split the PDF</p>
          <hr>
      
          <label for="email"><b>Select PDF File</b></label>
          <input type="file" placeholder="Enter Email" name="file" id="file" required><br><br>
          <hr>
      
          <label for="page"><b>Enter page numbers</b></label>
          <input type="text" placeholder="Enter Pages" name="page" id="page" required><br>
      
          <label for="filename"><b>Enter the Filenames of the PDFs</b></label>
          <input type="text" placeholder="Enter Filenames" name="filename" id="filename" required><br>
          <hr>
      
          <button type="submit" class="registerbtn">Download</button>
        </div>
      </form>
      <h3 style="text-align:center ;">{{error_message}}</h3>
</body>
</html>